<div class="row">
    <div class="col-md-4">Lists</div>
    <div class="col-md-8">
        <form class="form-inline" role="form">
          <div {{ bindAttr class=":form-group :col-md-7 isValid::has-error"}}>
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            {{input type=text class="form-control" placeholder="Enter Email" value=newAchievement }}
            {{#unless isValid}}
                <span class="help-block">{{errorMessage}}</span>
            {{/unless}}
          </div>
          <button type="submit" class="btn btn-default" {{ action addAchievement }}>Add</button>
        </form>

        <h3>Achievements</h3>
        <hr>
        
        <ul>
            {{#each controller}}
                <li><em><strong>{{ date achieved_at }}</strong></em> - {{title}}</li>
            {{else}}
                <li><h4>There are no achievements</h4></li>
            {{/each}}      
        </ul>
    </div>
</div>